* { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #__next { height: 100%; overflow: hidden; }
body { background: #080D10; color: #A1A7B3; font-family: 'JetBrains Mono', monospace; }
::-webkit-scrollbar { width: 3px; }
::-webkit-scrollbar-thumb { background: #00E0A325; border-radius: 2px; }
